img {
	width: 600px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body{
	background: url("https://i.imgur.com/MJAkxbh.png"
	)
}
#container {
	width: 100px;
	margin: 0 auto;
	background-color: #ff751a;
}
header {
	background-color: #ffc299;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b34700;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
main {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 15px;
	padding-right: 15px;
}
			#home-col-1{
				display: inline-block;
				width: 480px;
				border: 1px solid black;
			}
			#home-col-2{
				display: inline-block;
				width: 480px;
				border: 1px solid black;
			#home-col-4{
				display: inline-block;
				width: 480px;
				border: 1px solid black;

			}
footer {
	background-color: #5993c2;
}